<div class="panel panel-default">
    <div class="panel-heading department-title-heading">
        <h1 class="department-title">{{Department}}, {{State}} – {{"Type of Data"}}</h1>
    </div>
    <div class="panel-body">
      <div class="data-icons">
        <p><b>Data Breakdown:</b></p>
            <ul class="availablilty icons">
                <a data-toggle="tooltip" title data-original-title="{{freeCaption}}">
                    <li>
                        <i class="fa fa-eye datapole {{free}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{machineCaption}}">
                    <li>
                        <i class="fa fa-keyboard-o datapole {{machine}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{contextCaption}}">
                    <li>
                        <i class="fa fa-cog datapole {{context}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{bulkCaption}}">
                    <li>
                        <i class="fa fa-files-o datapole {{bulk}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{freshCaption}}">
                    <li>
                        <i class="fa fa-clock-o datapole {{fresh}}"></i>
                    </li>
                </a>
                <a data-toggle="tooltip" title data-original-title="{{incidentCaption}}">
                    <li>
                        <i class="fa fa-list datapole {{incident}}"></i>
                     </li>
                </a>
            </ul>
        </div>
        <p><b>Description: </b>{{Description}}</p>
        <p><b>Content Available: </b>{{"Content Available"}}</p>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Machine Readable: </b>{{"Data is machine readable"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Update Frequency: </b>{{"Update frequency"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <p><b>Fields: </b>{{"Fields Included"}}</p>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Download Formats: </b>{{"Available downloads"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><b>Data timeline: </b>{{"Data timeline"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href={{Link}}>{{Link}}</a>
        </br>
        <small>This summary last updated on: {{"Row last updated"}}</small>
    </div>
</div>
