/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}

a {
    word-wrap: break-word;
}

p {
  word-wrap: break-word;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
.datapole.DNE {
    background-color: silver;
}

.datapole.Yes {
    background-color: #8BDD3A;
}

.datapole.No {
    background-color: #DD3D3A;
}

.datapole.Unsure {
    background-color: #39BEFA;
}

ul.availability.icons {
    margin:20px;
  padding-left: 0px;
    list-style:none;
  width: 100%;
}
ul.icons li{
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-left: -2px;
}

ul.availability.icons li, i.fa {
    background-color: #CCC;
    color: #f9f9f9;
    padding: 3px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
}

.data-icons ul{
    padding-left: 0px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    line-height: 20px;
}
.tooltip{
    display: block;
}

.department-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.panel-default > .department-title-heading {
    background-color: navy;
}

.clickable {
    cursor: pointer;
}

.firstCharacter {
   float: left;
    font-size: 70px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
 }
