/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}
a {
    word-wrap: break-word;
}
p{
  word-wrap: break-word;  
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
.datapole.DNE {
    background-color: silver;
}

.datapole.Yes {
    background-color: limegreen;
}

.datapole.No {
    background-color: navy;
}

.datapole.Unsure {
    background-color: blue;
}
