<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-contents">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./#">Police Open Data Census</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-contents">
            <ul class="nav navbar-nav">
                <li>
                    <a href="./">Overview</a>
                </li>
                <li>
                    <a href="./datasets.html">All Datasets</a>
                </li>
                <li>
                    <a href="./recommendations.html">Recommendations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
